<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книги</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" rel="stylesheet">
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название книги</th>
            <th scope="col">Автор</th>
            <th scope="col">Жанр</th>
            <th scope="col">Год издания</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <th scope="row" th:text="${book.id}">1</th>
            <td th:text="${book.name}">Book</td>
            <td th:text="${book.author.name}">John Doe</td>
            <td th:text="${book.genre.name}">John</td>
            <td th:text="${book.publishDate}">01.01.1999</td>
        </tr>
        </tbody>
    </table>

    <input class="btn btn-success" onclick="history.go(-1);" type="button" value="Назад"/>
</div>
</body>
</html>